<style>
</style>
<template id="opportunities-extra-dropdown">
	<a ng-click="toggleDropdown()" class="opportunities-extra-dropdown dropdown-link  programme">More actions</a> &nbsp;
	<ul ng-click="toggleDropdown()" class="opportunities-extra-dropdown-actions dropdown-menu actions reject">
		<li>
			<a ng-click="download()" class="archived status">Download</a>
		</li>
	</ul>
</template>
<script>
(function(tim, $){

	var download = function(){
		var opportunities = angular.element($('main')).scope().vm.opportunities;
		tim.helper.get('utility').downloadCSV({
			filename: 'opportunities.csv',
			data: opportunities
		});
	};

    var main = function(){
    	var dropdown = tim.template.get('#opportunities-extra-dropdown').compile();
		$(dropdown).insertBefore("a.dropdown-link.programme");
		dropdown.scope.toggleDropdown = function(){
			document.querySelector('.opportunities-extra-dropdown-actions').classList.toggle('block');
		};
		dropdown.scope.download = download;
    };

	tim.script.add({
		name: 'opportunities-download',
		route: 'https://experience.aiesec.org/#/opportunities',
        script: main
	});
	
})(aigTim, jQuery);
</script>